.myname,.panel{
    padding:6px;
    background-color: darkgray;
    text-align: center;
    border:1px solid black;
}
.panel{
    padding:70px;
    display:none
}
.block{
    height:100px;
    width:100px;
    background-color: yellow;
    border:1px solid green;
    position: relative;
    top:10px;
    left:10px;
}
.divblock{
    height: 100px;
    width:100px;
    background-color: red;
    position: relative;
    top:10px;
    left:10px;
}
.blue{
    color:blue
}
.bgcolor{
    background-color: yellow
}
.div1{
    height:200px;
    width:300px;
    background-color: aqua;
    border:1px solid black;
    padding:10px;
    margin:10px;
}
.ancestors * { 
    display: block;
    border: 2px solid lightgrey;
    color: lightgrey;
    padding: 5px;
    margin: 15px;
  }
  .descendants * { 
    display: block;
    border: 2px solid lightgrey;
    color: lightgrey;
    padding: 5px;
    margin: 15px;
  }
  .siblings *{
    display: block;
    border: 2px solid lightgrey;
    color: lightgrey;
    padding: 5px;
    margin: 15px;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }